
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewBag.time.Nome</h2>
<h4>Sigla: @ViewBag.time.Sigla</h4>
<h4>Conferência: @ViewBag.time.Conferencia</h4>
<br>
<h4>Estatisticas Time</h4>
<table class="table">
    <thead>
        <tr>
            <th>Ano</th>
            <th>AC</th>
            <th>AT</th>
            <th>AC%</th>
            <th>3A</th>
            <th>3AT</th>
            <th>3A%</th>
            <th>2A</th>
            <th>2AT</th>
            <th>2A%</th>
            <th>LL</th>
            <th>LLT</th>
            <th>LL%</th>
            <th>RO</th>
            <th>RD</th>
            <th>TR</th>
            <th>A</th>
            <th>RB</th>
            <th>TCS</th>
            <th>DB</th>
            <th>FTS</th>
            <th>PTS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.EstatisticaTime)
        {
            <tr>
                <td>@item.Ano</td>
                <td>@item.ArremessosConvertidos</td>
                <td>@item.ArremessosTentados</td>
                <td>@item.PorcentagemArremessos</td>
                <td>@item.Arremessos3Pontos</td>
                <td>@item.Arremessos3PontosTentados</td>
                <td>@item.Porcentagem3Pontos</td>
                <td>@item.Arremessos2Pontos</td>
                <td>@item.Arremessos2PontosTentados</td>
                <td>@item.Porcentagem2Pontos</td>
                <td>@item.LancesLivres</td>
                <td>@item.LancesLivresTentados</td>
                <td>@item.PorcentagemLancesLivres</td>
                <td>@item.RebotesOfensivos</td>
                <td>@item.RebotesDefensivos</td>
                <td>@item.TotalRebotes</td>
                <td>@item.Assistencias</td>
                <td>@item.RoubosBola</td>
                <td>@item.Tocos</td>
                <td>@item.DesperdiciosBola</td>
                <td>@item.Faltas</td>
                <td>@item.Pontos</td>
            </tr>
        }
    </tbody>
</table>

<h4>Estatisticas Oponente Time</h4>
<table class="table">
    <thead>
        <tr>
            <th>Ano</th>
            <th>AC</th>
            <th>AT</th>
            <th>AC%</th>
            <th>3A</th>
            <th>3AT</th>
            <th>3A%</th>
            <th>2A</th>
            <th>2AT</th>
            <th>2A%</th>
            <th>LL</th>
            <th>LLT</th>
            <th>LL%</th>
            <th>RO</th>
            <th>RD</th>
            <th>TR</th>
            <th>A</th>
            <th>RB</th>
            <th>TCS</th>
            <th>DB</th>
            <th>FTS</th>
            <th>PTS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.EstatisticaOponenteTime)
        {
            <tr>
                <td>@item.Ano</td>
                <td>@item.ArremessosConvertidos</td>
                <td>@item.ArremessosTentados</td>
                <td>@item.PorcentagemArremessos</td>
                <td>@item.Arremessos3Pontos</td>
                <td>@item.Arremessos3PontosTentados</td>
                <td>@item.Porcentagem3Pontos</td>
                <td>@item.Arremessos2Pontos</td>
                <td>@item.Arremessos2PontosTentados</td>
                <td>@item.Porcentagem2Pontos</td>
                <td>@item.LancesLivres</td>
                <td>@item.LancesLivresTentados</td>
                <td>@item.PorcentagemLancesLivres</td>
                <td>@item.RebotesOfensivos</td>
                <td>@item.RebotesDefensivos</td>
                <td>@item.TotalRebotes</td>
                <td>@item.Assistencias</td>
                <td>@item.RoubosBola</td>
                <td>@item.Tocos</td>
                <td>@item.DesperdiciosBola</td>
                <td>@item.Faltas</td>
                <td>@item.Pontos</td>
            </tr>
        }
    </tbody>
</table>