
@{
    ViewData["Title"] = "Details";
}

<h2>Jogador</h2>
<table class="table">
    <thead>
        <tr>
            <th>@ViewBag.jogador.Nome</th>
            <th>@ViewBag.jogador.Posicao</th>
        </tr>
    </thead>
</table>

<h4>Estatisticas Por 36 minutos</h4>
<table class="table">
    @*<thead>
            <tr>
                <th>Ano</th>
                <th>Idade</th>
                <th>SiglaTime</th>
                <th>Jogos</th>
                <th>JogosIniciados</th>
                <th>ArremessosConvertidos</th>
                <th>ArremessosTentados</th>
                <th>PorcentagemArremessos</th>
                <th>Arremessos3Pontos</th>
                <th>Arremessos3PontosTentados</th>
                <th>Porcentagem3Pontos</th>
                <th>Arremessos2Pontos</th>
                <th>Arremessos2PontosTentados</th>
                <th>Porcentagem2Pontos</th>
                <th>LancesLivres</th>
                <th>LancesLivresTentados</th>
                <th>PorcentagemLancesLivres</th>
                <th>RebotesOfensivos</th>
                <th>RebotesDefensivos</th>
                <th>TotalRebotes</th>
                <th>Assistencias</th>
                <th>RoubosBola</th>
                <th>Tocos</th>
                <th>DesperdiciosBola</th>
                <th>Faltas</th>
                <th>Pontos</th>
            </tr>
        </thead>*@
    <tbody>
        @foreach (var jogador in ViewBag.EstatisticaPer36)
        {
            <tr>
                <td>@jogador.Ano</td>
                <td>@jogador.Idade</td>
                <td>@jogador.SiglaTime</td>
                <td>@jogador.Jogos</td>
                <td>@jogador.JogosIniciados</td>
                <td>@jogador.ArremessosConvertidos</td>
                <td>@jogador.ArremessosTentados</td>
                <td>@jogador.PorcentagemArremessos</td>
                <td>@jogador.Arremessos3Pontos</td>
                <td>@jogador.Arremessos3PontosTentados</td>
                <td>@jogador.Porcentagem3Pontos</td>
                <td>@jogador.Arremessos2Pontos</td>
                <td>@jogador.Arremessos2PontosTentados</td>
                <td>@jogador.Porcentagem2Pontos</td>
                <td>@jogador.LancesLivres</td>
                <td>@jogador.LancesLivresTentados</td>
                <td>@jogador.PorcentagemLancesLivres</td>
                <td>@jogador.RebotesOfensivos</td>
                <td>@jogador.RebotesDefensivos</td>
                <td>@jogador.TotalRebotes</td>
                <td>@jogador.Assistencias</td>
                <td>@jogador.RoubosBola</td>
                <td>@jogador.Tocos</td>
                <td>@jogador.DesperdiciosBola</td>
                <td>@jogador.Faltas</td>
                <td>@jogador.Pontos</td>
            </tr>
        }
    </tbody>
</table>

<h4>Estatisticas avançadas</h4>
<table class="table">
    <tbody>
        @foreach (var jogador in ViewBag.EstatisticaAvancada)
        {
            <tr>
                <td>@jogador.Ano</td>
                <td>@jogador.EficienciaJogador</td>
                <td>@jogador.PorcentagemArremessosEficientes</td>
                <td>@jogador.TaxaTentativas3Pontos</td>
                <td>@jogador.TaxaTentativasLancesLivres</td>
                <td>@jogador.PorcentagemRebotesOfensivos</td>
                <td>@jogador.PorcentagemRebotesDefensivos</td>
                <td>@jogador.PorcentagemRebotesTotal</td>
                <td>@jogador.PorcentagemAssistencias</td>
                <td>@jogador.PorcentagemRoubosBola</td>
                <td>@jogador.PorcentagemTocos</td>
                <td>@jogador.PorcentagemDesperdiciosBola</td>
                <td>@jogador.PorcentagemUsoJogador</td>
                <td>@jogador.ContribuicaoVitoriaOfensiva</td>
                <td>@jogador.ContribuicaoVitoriaDefensiva</td>
                <td>@jogador.ContribuicaoVitoria</td>
                <td>@jogador.EstimativaContribuicaoOfensiva</td>
                <td>@jogador.EstimativaContribuicaoDefensiva</td>
                <td>@jogador.EstimativaContribuicaoTotal</td>
            </tr>
        }
    </tbody>
</table>